<script type="text/javascript">//<![CDATA[
	
	window.onload=function()
	{
		// 获取高级设置标签元素
		var str="advanced"
		var advanced_element = document.querySelector('div[data-tab="'+str+'"]');

		// 适配老版luci（lede）
		if (advanced_element==null) {
			advanced_element = document.querySelectorAll('div[id*="'+str+'"]')[0];
		}

		//隐藏拨号配置ID元素
		var dial_config_id_element = advanced_element.lastElementChild;
		dial_config_id_element.style.display="none";
		setBand4();
		setBand5();
	}
	function setBand4()
	{
		console.log('Band selected: ');
		//var band4Container = document.getElementById('cbi-modem-0c83cb88ce824591b25cd80696590b69-band4');
		var band4Containers = document.querySelectorAll("[id^='cbi-modem-'][id*='-band4']");
		if (band4Containers.length > 0)  {
			console.log('get band4Container xxxxxxxx');
			// 获取最后一个元素
			var band4Container = band4Containers[band4Containers.length - 1];
			 band4Container.addEventListener('change', function() {
    	         var options = band4Container.querySelectorAll('input[type="checkbox"]');
    	         if (options[0].checked) {  // Assuming 'auto' is the first checkbox
    	            options.forEach(function(option, index) {
						if (index > 0) {  // Skip the first 'auto' option
							option.checked = false;
							option.disabled = true; 
                    	}
                 	});
             	} else {
                options.forEach(function(option, index) {
                    if (index > 0) {  // Skip the first 'auto' option
                        option.disabled = false;  // Enable the checkbox
                    }
                });
            }
        	 });
		}
	}
	function setBand5()
	{
		console.log('Band selected: ');
		var band5Containers = document.querySelectorAll("[id^='cbi-modem-'][id*='-band5']");
		if (band5Containers.length > 0)  {
			console.log('get band5Containers xxxxxxxx');
			// 获取最后一个元素
			var band5Container = band5Containers[band5Containers.length - 1];
			band5Container.addEventListener('change', function() {
    	         var options = band5Container.querySelectorAll('input[type="checkbox"]');
    	         if (options[0].checked) {  // Assuming 'auto' is the first checkbox
    	            options.forEach(function(option, index) {
						if (index > 0) {  // Skip the first 'auto' option
							option.checked = false;
							option.disabled = true; 
                    	}
                 	});
             	} else {
                options.forEach(function(option, index) {
                    if (index > 0) {  // Skip the first 'auto' option
                        option.disabled = false;  // Enable the checkbox
                    }
                });
            }
        	 });
		}
	}
	
//]]>
</script>